/* Write your CSS here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-img {
  width: 80px;
}
@media (min-width: 768px) {
  .home-img {
    width: 200px;
  }
}
